@import './base.css';

#app {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  transition: 0.4s;
}
hr{
	width: 100%;
  /* border: 1px solid var(--font-color-active); */
}
.setHover{
  color: var(--font-color);
}
.setHover:hover{
  color: var(--font-color-hover);
}
