:root[data-theme="light"] {
    --color-background: #d9d9d9;
    --font-color: #4d4d4d;
    --primary: #00b7c6;
    --color-background: #e9e9e9;
    --box-shadow:#345366; 
  }
  
  :root[data-theme="dark"] {
    --color-background: #141414;
    --font-color: white; 
    --primary: #256273;
    --color-background: #181818;
    --box-shadow:var(--primary)
  }
  
