:root[data-theme="light"] {
    --color-background: #d9d9d9;
    --font-color: #4d4d4d;
    --primary: #a8a8a8;
    --box-shadow:#345366;
    --font-color-active: #c41b23;
    --font-color-hover: #d04242;
  }
  
  :root[data-theme="dark"] {
    --color-background: #141414;
    --font-color: white; 
    --primary: #256273;
    --box-shadow:var(--primary);
    --font-color-active: #25cece;
    --font-color-hover: #43b2c1;
  }
  
