.logo {
  display: block;
  margin: 0 auto 2rem;
}
/* *, *::before, *::after {  */
  /* box-sizing: border-box; */
  /* margin: 0; */
  /* position: relative; */
  /* font-weight: normal; */
/* }  */


@media (min-width: 1024px) {
  .logo {
    margin: 0 2rem 0 0;
  }
}
